
html body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.container{
    width: 80%;
    margin: 0 auto;
}

ul{
    text-align: center;
}

li{
    display: inline;
    margin-left: 2rem;
}

li a{
    color: #777;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

li a:hover{
    border-bottom: 1px solid #777;
}

.box{
    width: 100px;
    height: 100px;
    background-color: green;
    margin: 20px;
    cursor: pointer;
}

.localStorage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.localStorage h2{
    color: #777;
    letter-spacing: 0.3px;
}

.localStorage input{
    width: 30%;
    padding: 7px;
    box-sizing: border-box;
}


.posts{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.posts button{
    display: flex;
    justify-content: center;
}

.post{
    padding: 10px;
    border: 1px solid #888;
    cursor: pointer;
}

button{
    margin: 10px;
    padding: 10px 25px;
    background-color: #348904;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.post_wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #999;
    padding: 10px 30px;
}

.post_wrapper .input_field:nth-child(2){
    margin: 0 20px;
}

.post_wrapper input{
    padding: 3px 5px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
}

.user_wrapper{
    width: 400px;
    height: 150px;
    padding: 0 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    border: 1px solid #999;
    border-radius: 10px;
}

.user_img img{
    width: 130px;
    height: 130px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.user_desc{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title p{
    display: flex;
    justify-content: flex-end;
    margin: 20px 10px;
}

.wrapper{
    padding: 20px 10px;
}

.users{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pagination{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}